<div class="container">
  <mat-toolbar color='primary'>
      <span class="fill"></span>
       <span>DEMO APPLICATION</span>
      <span class="fill"></span>
  </mat-toolbar>
</div >

      <div *ngIf ='reg'>
        <span></span>
        <button mat-button class="buttn" (click) =toogle()>Login</button>
        <app-registration ></app-registration>
      </div>
        <div *ngIf='!reg'>
          <button mat-button class="buttn" (click) =toogle()>Register</button>

          <app-login></app-login>
        </div>
  <router-outlet></router-outlet>
 

